---
import { markdownify } from "@/lib/utils/textConverter";
const { pourquoi } = Astro.props;
---

{
  pourquoi.data && (
    <section class="section-sm mygreen">
      <div class="container">
        <div class="row">
            <h2 set:html={markdownify(pourquoi.data.title)} class="mb-3" />
                {pourquoi.data.pourquoi.map(
                  (item: {
                    title: string;
                    description: string;
                  }) => (
                  <div class="mb-14 md:col-4 lg:col-3">
                      <div class="px-2 py-2 ">
                        <div class="flex items-center">
                          <div class="rounded blackandwhite listof p-8 text-center">
                          <h4 class="mb-3">
                            {item.title}
                          </h4>
                          <p class="mb-3">
                            {item.description}
                          </p>
                        </div>

                        </div>
                      </div>
                    </div>
                  ),
                )}
             
             
        </div>
      </div>
    </section>
  )
}

<script>
  import { Swiper } from "swiper";
  import "swiper/css";
  import "swiper/css/pagination";
  import { Autoplay, Pagination } from "swiper/modules";

  // astro:page-load event is fired when the page is loaded
  document.addEventListener("astro:page-load", () => {
    new Swiper(".testimonial-slider", {
      modules: [Pagination, Autoplay],
      spaceBetween: 24,
      loop: true,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".testimonial-slider-pagination",
        type: "bullets",
        clickable: true,
      },
      breakpoints: {
        768: {
          slidesPerView: 2,
        },
        992: {
          slidesPerView: 3,
        },
      },
    });
  });
</script>
